.navbar{
    background-color: #c9d094;
    
}
.logo {
    width: 150px;
    height: 50px;
}

.navbar-option {
    display: flex;
   
}
.n-link  {
    color:#434343 !important;
    margin: 10px 15px 10px 0px;
    font-weight: 500;
    font-size: 18px;
    color: inherit;
    text-decoration: none;
}
.n-link:hover {
    color: #3c8d2c;
    text-decoration: none;
}

.btn-navbar {
    width: auto;
    background-color: #4dac3b;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #282828;
    outline: none;
}
.btn-navbar:hover {
    background-color: #3c8d2c;
    border: none;
    outline: none;
}
.btn-navbar:active {
    background-color: #377c2a;
    border: none;
}
.btn-navbar:focus {
    outline: none; /* Agregado */
}
