.swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 310px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
.card {
    background-color: #aaf0ca;
    border: none;
}